/* Importing all CSS files */
/* @import url('./Header.css'); */
@import './style.css';
/* Defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Primary Variables */
:root {
  --primary: 'green';
}
#scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  #scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

/*track*/
#scrollbar::-webkit-scrollbar-track {
  background: rgb(246, 246, 248);
  border-radius: 25px;
}

/*thumb*/
#scrollbar::-webkit-scrollbar-thumb {
  background: rgb(225, 225, 225);
  border-radius: 25px;
}

#scrollbar::-webkit-scrollbar-thumb:hover {
  background: #000;
}
